@media screen  and (max-width:480px) and (min-width:320px){

    .row{
        flex-direction: column;
        width: 90%; 
    }
    nav{
       display: none;
    }
    .mobile-nav{
       left: 0;
    }
    .mobile-overlay{
        display: block;
    }


    /* ********************* Hero Section************************************ */
.hero{
    padding: 1rem 0;
    height: 100%;;
}
.hero-container{
    flex-direction: column;; 
}
.hero-heading{
    text-align: center;
    width: 90%;;
    font-size: 50px;;
    line-height: 50px;;
    margin-top: 3rem;
}

.left-hero-card{
    width: 100%;
}
.right-hero-card{
   display: none;
}
/* ********************* End of Hero Section************************************ */
/* ********************* Sponsor Section************************************ */
.sponsor{
    margin: 2rem 0;
    padding: 2rem 0;
}
.sponsor-heading{
    color: #292019;
    text-align: center;
    font-family: 'Geomanist';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;
}
.hero-text{
    text-align: justify;
}

/* ********************* End of Sponsor Section************************************ */

/* ********************* Resident/Hospitality Section************************************ */
.resident{
    margin: 1rem 0;
    padding: 1rem 0;
}
.resi-row{
   
    flex-direction: column;;
}
.resident-container{
    
    flex-direction: column;;
    
}
.resident-left-card{
    flex-direction: column;;
    align-items: center;;
    width: 100%;;
    padding-left: 0rem;;
    padding: 1rem;;
}
.resident-right-card{
    flex-direction: column;;
    align-items: center;;
    width: 100%;;
    padding-right: 0rem;;
    
}
.left-side{
    width: 70%;
    padding:0;
}
.right-side{
    width: 100%;;
    padding: 1rem;;
}


.resident-title{
    font-size: 25px;;
    line-height: 30px;;
    padding-bottom: 1rem;;
}
.browse-link{
    font-size: 25px;;
}

/* *********************End of  Resident/Hospitality Section************************************ */
/* *********************Products Section************************************ */
.product{
    margin: 1rem 0;
    padding: 1rem 0;
}
.product-container{
    flex-direction: column;;
    flex-wrap: wrap;
}

.headings{
    flex-direction: column;;
    margin: .5rem 0;
    padding: .5rem 0;
}
.headings .products,
.headings .best-selling,
.headings .most-popular,
.headings .see-all{
    width: 90%;
}
.products{
    text-align: center;
    font-size: 40px;
   
    letter-spacing: 0.3px;
    
}
.best-selling,
.most-popular{
    font-size: 15px;
    border-radius: 3px;
    padding: .3rem;
    text-align: center;
    border: 1px solid #A9A7A6;
    margin: .3rem;
    }
.see-all{
    font-size: 15px;
    border-radius: 3px;
    padding: .3rem;
    text-align: center;
    border: 1px solid #A9A7A6;
    margin: .3rem;
    width: 80%;
}
.see-all i{
    font-size: 1.5rem;
   padding:0;
    background-color: white;
    
}

.product-card{
    width: 100%;;
}
.product-name{
    margin-bottom: 2rem;
}
.price{
    font-size: 17px;
}
.original-price{
    font-size: 13px;
}
/* ********************* End of Products Section************************************ */

/* ********************* Customer Section************************************ */
.customer{
    margin: 1rem 0;
    padding: 1rem 0;
}
.customer-container{
    flex-direction: column-reverse;;
}
.customer-image-card{
    width: 100%;;
}
.customer-image-card img{
    width: 50%;
    margin-left: 25%;

}
.customer-text-card{
    width: 100%;;
}
.customer-heading{
    
    font-size: 40px;
    
    line-height: 45px;
    margin-bottom: 1rem;
}
.customer-text{
    font-size: 15px;
    line-height: 20px; 
    text-align: justify;
    margin-bottom: 1rem;
}
.customer-name{
    font-size: 15px;
    margin-left: 0rem;
}
.other-info,
.customer-nav-bar{
    margin-left: 0rem;
}
.post-date{
    font-size: 12px;
   
}
/* ********************* End of Customer Section************************************ */
/* ********************* signUp Section************************************ */
.signup{
    margin: 1rem 0;
    padding: 1rem 0;
}
.signup-container{
    flex-direction: column;;
}
.left-signup-card{
    width: 100%;
}
.right-signup-card{
    width: 100%;
    
}
.signup-heading{
    font-size: 40px;
    line-height: 40px;
}
.input-field{
    position: relative;
}
.input-btn{
    right: 2%;
}


.email{
    width: 100%;
}


/* ********************* End of SignUp Section************************************ */
/* ********************* Footer  Section************************************ */
footer{
    margin: 0;
    padding: 0;
}
.footer-container{
   flex-wrap: wrap; 
}

.footer-logo{
    width: 50%;;
}
.footer-icons{
    justify-content: flex-start;
    width: 100%;;
    

}
.footer-icons i{
    color: #D9AB82;
    font-size: 32px;
    padding-left: 0px;;
    padding-right: 10px;
}
.footer-logo img{
    width: 30%;;
}
.footer-menu{
    display: flex;
    justify-content: space-between;;
    width: 80%;;
}

/* ********************* End of footer Section************************************ */
.row p{
    margin-left: 10%;
    text-align: center;
}
}

@media screen  and (max-width:760px) and (min-width:481px){
    
}